<h1 class="groceryTitle">{{title}}</h1>

<!--below div is describe to show grocery list-->
<div *ngFor="let grocery of grocerys" class="groceryList">
  <div class="imageWrapper"><img [src]="getIconUrl(grocery.category)" ngClass="{{grocery.category}}"></div>
  <div class="groceryListItem">
    <div><label>{{categoryTitle}}</label>{{grocery.category}}</div>
    <div><label>{{itemTitle}}</label>{{grocery.item}}</div>
    <div><label>{{typeTitle}}</label>{{grocery.type}}</div>
    <div><label>{{brandTitle}}</label>{{grocery.brand}}</div>
    <div><label>{{qtyTitle}}</label>{{grocery.qty}}</div>
  </div>
</div>
